.services__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    margin-top: 120px;
    margin-bottom: 60px;
}

.services__title{
    font-size: 52px;
    font-weight: 800;
    color: var(--white);
    font-family: var(--ff);
    letter-spacing: 1px;

    position: relative;
}

.services__title::after{
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: linear-gradient(90deg, #7c3aed, #22d3ee);
    margin: 12px auto 0;
    border-radius: 10px;
}

.services__text{
    font-size: 20px;
    color: var(--gray);
    max-width: 650px;
    line-height: 1.6;
    font-weight: 400;
}